<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      <fieldType name="Rich Text" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel">
        <patch:attribute name="type" value="Sitecore.Support.Data.Fields.HtmlField, Sitecore.Support.95358" />
      </fieldType>
    </fieldTypes>
  </sitecore>
</configuration>